.list {
  list-style: none;
}

.statistics {
  text-align: center;
  padding: 20px;
  background-color: #65cacc;
  margin: 30px auto;
}

.statList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #686464;
  border-radius: 5%;
  width: 170px;
}

.title {
  background-color: #fff;
  padding: 20px 0px;
}

.percent {
  font-size: 20px;
  margin-top: 10px;
}
